@import './common';
@import './utils/variables';
@import './utils/mixin';
@import './utils/placeholder';
@import './global/reset';
@import './global/global';
@import './components/buttons';
@import './components/container';
@import './components/modal';
@import './components/header';
@import './components/hero';
@import './components/design';
@import './components/advantages';
@import './components/history';
@import './components/reviews';
@import "./components/advantages";
@import './components/bosear';
@import './components/guarantees';
@import './components/faq';
@import './components/order';
@import './components/feedback';
@import './components/footer';
