@import './common';
@import './utils/variables';
@import './global/reset';
@import './global/global';
@import './global/container';
// компоненты
@import './components/buttons';
@import './components/header';
@import './components/hero';
@import './components/faq';
