@import './common';

@import './utils/variables';
@import './utils/mixin';
@import './utils/placeholder';
@import './global/reset';
@import './global/global';
@import './components/container';
// компоненты
@import './components/buttons';
@import './components/header';
@import './components/hero';
@import './components/design';
@import "./components/advantages";
@import './components/modal';
@import './components/faq';
