:root {
  --font-primary: 'Gilroy';
  --font-logo: 'Roboto Condensed';
  --color-text-primary: #ffffffcc;
  --color-text-secondary: #ffffff;
  --color-bg-primary: #2f303a;
  --color-bg-secondary: #f5f4fa;
  --color-text-titles: #e7e7e7;
}
