:root {
  --font-primary: "Gilroy";
  --font-logo: "Roboto Condensed";
  --color-text-primary: #757575;
  --color-text-secondary: #ffffff;
  --color-bg-primary: #191919;
  --color-bg-secondary: #f5f4fa;
  --color-text-title: #e7e7e7;
}
