:root {
  --font-primary: 'Gilroy';
  --font-logo: 'Roboto Condensed';
  --color-text-black: #000000;
  --color-text-primary: #ffffffcc;
  --color-text-secondary: #ffffff;
  --color-bg-primary: #191919;
  --color-bg-secondary: #f5f4fa;
  --color-text-titles: #e7e7e7;
  --color-text-white10: #ffffff1a;
  --color-bg-button: #df3d3a;
  --color-bg-button_hover: #b5302d;
  --color-bg-black: #000000;
  --color-bg-white: #ffffff;
}
