:root {
  --font-primary: "Gilroy";
  --font-logo: "Roboto Condensed";
  --color-text-primary: #FFFFFFCC;
  --color-text-secondary: #E7E7E7;
  --color-bg-primary: #191919;
  --color-bg-secondary: #f5f4fa;
}
