<section class="advantages">
  <div class="advantages__container container">
    <h1 class="advantages__title">capable of so much</h1>
    <ul class="advantages__list">
      <li class="advantages__item">Ability to receive calls</li>
      <li class="advantages__item">Rich and powerful sound</li>
      <li class="advantages__item">Active noise cancellation option</li>
      <li class="advantages__item">Unsurpassed microphone system</li>
      <li class="advantages__item">Support of voice assistants</li>
      <li class="advantages__item">Bose AR Augmented Reality Audio Platform</li>
    </ul>
  </div>
</section>
