<section class="faq">
  <div class="faq__container">
    <h2 class="faq__title">FAQ</h2>
    <ul class="faq__list">
      <li class="faq__item">
        <div class="faq__grup">
          <p class="num-text">01</p>
          <h3 class="title">How to pair with a mobile device?</h3>
          <button>?</button>
        </div>
      </li>
      <li class="faq__item">
        <div class="faq__grup">
          <p class="num-text">02</p>
          <h3 class="title">What is the wireless range of the Bose NC 700?</h3>
          <button>?</button>
        </div>
      </li>
      <li class="faq__item">
        <div class="faq__grup">
          <p class="num-text">03</p>
          <h3 class="title">
            How do I fold the Bose NC 700 headphones for storage?
          </h3>
          <button>?</button>
        </div>
      </li>
      <li class="faq__item">
        <div class="faq__grup">
          <p class="num-text">04</p>
          <h3 class="title">Does the guarantee work internationally?</h3>
          <button>?</button>
        </div>
      </li>
    </ul>
  </div>
</section>
