<footer class="footer">
  <div class="footer__container">
    <ul class="footer__list">
      <li class="footer__item">
        <a class="footer__link" href="#">Characteristics</a>
      </li>
      <li class="footer__item footer__item--end">
        <a class="footer__link" href="#">History</a>
      </li>
      <li class="footer__item"><a class="footer__link" href="#">Reviews</a></li>
      <li class="footer__item footer__item--end">
        <a class="footer__link" href="#">Payment and delivery</a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="#">Store addresses</a>
      </li>
      <li class="footer__item footer__item--end">
        <a class="footer__link" href="#">FAQ</a>
      </li>
    </ul>
    <a href="tel:88001111111" class="footer__phone">8 (800) 111-11-11</a>
  </div>
</footer>
