<section class="feedback">
  <h2 class="feedback__title">FEEDBACK</h2>
  <p class="feedback__description">
    We'll help you find the right headphones for you.
  </p>
</section>

<form class="form">
  <div class="form__group">
    <p class="form__label">Your name</p>
    <input type="text" name="name" class="form__input" />
  </div>

  <div class="form__group">
    <p class="form__label">Your e-mail</p>
    <input type="email" name="email" class="form__input" />
  </div>

  <div class="form__group">
    <p class="form__label">Send us a message</p>
    <textarea name="message" rows="5" class="form__textarea"></textarea>
  </div>

  <div class="form__group form__group--checkbox">
    <input type="checkbox" name="privacy" class="form__checkbox" />
    <span class="form__checkbox-label"
      >I agree to the <a href="#" class="form__link">privacy policy</a></span
    >
  </div>

  <button type="submit" class="form__button">SEND</button>
</form>

<nav class="nav">
  <ul class="nav__list">
    <li class="nav__item">Characteristics</li>
    <li class="nav__item">History</li>
    <li class="nav__item">Reviews</li>
    <li class="nav__item">Payment and delivery</li>
    <li class="nav__item">Store addresses</li>
    <li class="nav__item">FAQ</li>
  </ul>
</nav>

<footer class="footer">
  <p class="footer__contact">8 (800) 111-11-11</p>
</footer>
