<section class="guarantees">
  <div class="guarantees__container">
    <div class="guarantees__visual">
      <img
        src="./images/headphones.jpg"
        alt="Headphones"
        class="guarantees__image"
      />
    </div>

    <div class="guarantees__content">
      <h2 class="guarantees__label">GUARANTEES</h2>

      <div class="guarantees__list">
        <div class="guarantees__item">
          <div class="guarantees__marker"></div>
          <h3 class="guarantees__title">90 Day Money Back Guarantee</h3>
          <p class="guarantees__text">
            If you are not 100% satisfied with a product, you can return it back
            for a full refund.
          </p>
        </div>

        <div class="guarantees__item">
          <div class="guarantees__marker"></div>
          <h3 class="guarantees__title">1 year warranty</h3>
          <p class="guarantees__text">
            Regardless of your country of residence, if your headphones are
            broken, we will send you new ones.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
