<header class="header">
  <div class="header__container container">
    <a href="#">
      <img class="logo" src="./images/logo-bose.svg" alt="logo" />
    </a>
    <div class="mobile-menu">
      <button class="mobile-menu__btn menu-btn" data-menu-btn>
        <span class="menu-btn__line"></span>
      </button>
      <div class="mobile-menu__wrapp" data-menu>
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item" data-mobile-link>Characteristics</li>
            <li class="nav__item" id="#history" data-mobile-link>History</li>
            <li class="nav__item" id="#reviews" data-mobile-link>Reviews</li>
            <li class="nav__item" data-mobile-link>Payment and delivery</li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
