<section class="hero">
  <div class="container__left hero__container">
    <ul class="hero__list">
      <li class="hero__item">
        <p class="hero__text">
          Noise cancellation headphones that are capable for a lot of things
        </p>
      </li>
      <li class="hero__item">
        <p class="hero__text">Up to 20 hours of playback</p>
      </li>
    </ul>
    <h1 class="hero__title">Headphones Bose NC 700</h1>
    <button class="button hero__button">order</button>

    <div class="hero__photo">
      <picture>
        <!-- desktop -->
        <source
          media="(min-width: 1200px)"
          sizes="100vw"
          srcset="./images/hero.webp 767w, ./images/hero.webp 1534w"
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          sizes="100vw"
          srcset="./images/hero.jpg 767w, ./images/hero.jpg 1534w"
          type="image/jpeg"
        />
        <!-- tablet -->
        <source
          media="(min-width: 768px)"
          sizes="100vw"
          srcset="./images/hero.webp 767w, ./images/hero.webp 1534w"
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          sizes="100vw"
          srcset="./images/hero.jpg 767w, ./images/hero.jpg 1534w"
          type="image/jpeg"
        />
        <!-- mobil -->
        <source
          media="(max-width: 768px)"
          sizes="100vw"
          srcset="./images/hero.webp 767w, ./images/hero.webp 1534w"
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          sizes="100vw"
          srcset="./images/hero.jpg 767w, ./images/hero.jpg 1534w"
          type="image/jpeg"
        />
        <img src="./images/hero.jpg" alt="Hero image" />
      </picture>
    </div>
  </div>
</section>
