<section class="hero">
  <div class="container__left hero__container">
    <div class="hero__text-info">
      <ul class="hero__list">
        <li class="hero__item">
          <p class="hero__text">
            Noise cancellation headphones that are capable for a lot of things
          </p>
        </li>
        <li class="hero__item">
          <p class="hero__text">Up to 20 hours of playback</p>
        </li>
      </ul>
      <h1 class="hero__title">Headphones Bose NC 700</h1>
      <button class="button hero__button" data-hero_modal-open>order</button>
    </div>
    <!-- modal -->
    <div data-hero_modal class="backdrop is__hidden">
      <div class="modal">
        <ul class="modal__list">
          <li class="modal__item">
            <input type="text" class="modal__input" placeholder="Empty" />
          </li>
          <li class="modal__item">
            <input
              type="email"
              class="modal__input modal__input--need"
              placeholder="Empty"
            />
          </li>
          <li class="modal__item">
            <input
              type="text"
              class="modal__input modal__input--need"
              placeholder="Empty"
            />
          </li>
          <li class="modal__item modal__item">
            <input type="checkbox" class="modal__input--checkbox" />
            <p class="modal__text">
              I agree to the
              <a class="modal__link" href="#">privacy policy</a>
            </p>
          </li>
        </ul>
        <button class="button modal__button" data-hero_modal-close>send</button>
      </div>
    </div>
    <div class="hero__photo">
      <picture>
        <!-- desktop -->
        <source
          media="(min-width: 1200px)"
          sizes="100vw"
          srcset="
            ./images/hero_desktop.webp    1200w,
            ./images/hero_desktop@2x.webp 2400w
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          sizes="100vw"
          srcset="
            ./images/hero_desktop.jpg    1200w,
            ./images/hero_desktop@2x.jpg 2400w
          "
          type="image/jpeg"
        />
        <!-- tablet -->
        <source
          media="(min-width: 768px)"
          sizes="100vw"
          srcset="
            ./images/hero_tablet.webp     768w,
            ./images/hero_tablet@2x.webp 1536w
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          sizes="100vw"
          srcset="
            ./images/hero_tablet.jpg     768w,
            ./images/hero_tablet@2x.jpg 1536w
          "
          type="image/jpeg"
        />
        <!-- mobil -->
        <source
          media="(max-width: 768px)"
          sizes="100vw"
          srcset="
            ./images/hero_mobil.webp     767w,
            ./images/hero_mobil@2x.webp 1534w
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          sizes="100vw"
          srcset="
            ./images/hero_mobil.jpg     767w,
            ./images/hero_mobil@2x.jpg 1534w
          "
          type="image/jpeg"
        />
        <img src="./images/hero_desktop.jpg" alt="Hero image" />
      </picture>
    </div>
  </div>
</section>
<script src="./hero.js" defer></script>
