<section class="history">
  <div class="container__left">
    <div class="history__content">
      <div class="history__first-adaptive">
        <h2 class="history__title">brand creation history</h2>
        <div class="history__text-content">
          <p class="history__text history__text--first">
            The history of Bose Corporation began with disappointment. In 1956,
            MIT graduate student Amar Bose bought one of the best stereo systems
            at the time for his home. After a few minutes of listening to the
            audio recording, his bewilderment turned to disappointment.
          </p>

          <p class="history__text history__text--second">
            From Amar's point of view, the sound was so flat and unnatural that
            it was better not to listen to the music at all than to listen to it
            in such a distorted form.
          </p>
        </div>
        <div class="history__photo history__photo--plan">
          <picture>
            
            <source
              media="(min-width: 1200px)"
              sizes="700px"
              srcset="
                ./images/history_plan_desktop.webp     700w,
                ./images/history_plan_desktop@2x.webp 1400w
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              sizes="700px"
              srcset="
                ./images/history_plan_desktop.png     700w,
                ./images/history_plan_desktop@2x.png 1400w
              "
              type="image/png"
            />
           
            <source
              media="(min-width: 768px)"
              sizes="355px"
              srcset="
                ./images/history_plan_tablet.webp    355w,
                ./images/history_plan_tablet@2x.webp 610w
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              sizes="355px"
              srcset="
                ./images/history_plan_tablet.png    355w,
                ./images/history_plan_tablet@2x.png 610w
              "
              type="image/png"
            />
            
            <source
              media="(max-width: 767px)"
              sizes="280px"
              srcset="
                ./images/history_plan_mobil.webp    280w,
                ./images/history_plan_mobil@2x.webp 460w
              "
              type="image/webp"
            />
            <source
              media="(max-width: 768px)"
              sizes="280px"
              srcset="
                ./images/history_plan_mobil.png    280w,
                ./images/history_plan_mobil@2x.png 460w
              "
              type="image/png"
            />
          </picture>
          <img src="/src/images/history_plan_mobil.png" alt="first headphone" />
        </div>
      </div>
      <div class="history__seconde-adaptive">
        <div class="history__seconde-adaptive">
          <div class="history__photo history__photo--speacker">
            <picture>
             
              <source
                media="(min-width: 1200px)"
                sizes="290px"
                srcset="
                  ./images/history_speaker_dektop.webp    290w,
                  ./images/history_speaker_dektop@2x.webp 580w
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                sizes="290px"
                srcset="
                  ./images/history_speaker_dektop.png    290w,
                  ./images/history_speaker_dektop@2x.png 580w
                "
                type="image/png"
              />
             
              <source
                media="(min-width: 768px)"
                sizes="295px"
                srcset="
                  ./images/history_speaker_tablet.webp    295w,
                  ./images/history_speaker_tablet@2x.webp 590w
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                sizes="295px"
                srcset="
                  ./images/history_speaker_tablet.png    295w,
                  ./images/history_speaker_tablet@2x.png 590w
                "
                type="image/png"
              />
              
              <source
                media="(max-width: 767px)"
                sizes="280px"
                srcset="
                  ./images/history_speaker_mobil.webp    280w,
                  ./images/history_speaker_mobil@2x.webp 460w
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                sizes="280px"
                srcset="
                  ./images/history_speaker_mobil.png    280w,
                  ./images/history_speaker_mobil@2x.png 460w
                "
                type="image/png"
              />
            </picture>
            <img
              src="/src/images/history_speaker_mobil.png"
              alt="first headphone"
            />
          </div>
          <div class="history__text-content--seconde">
            <p class="history__text history__text--third">
              Bose's frustration grew into a firm determination to build audio
              equipments that would reproduce sound with impeccable accuracy and
              naturalness
            </p>

            <p class="history__text history__text--title">
              Never stop dreaming. Always dream of the best, and think about how
              to achieve it.
            </p>
            <p class="history__about">Amar Bose is a company founder</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
