<section class="luxury">
  <div class="container luxury__content">
    <h2 class="luxury__title">The luxury of silence</h2>
    <div class="luxury__photo">
      <picture>
        <!-- desktop -->
        <source
          media="min-width:1200px"
          media="max-width:767px"
          sizes="280px"
          srcset="./images/luxury_desktop.webp  w1200,
                ./images/luxury_desktop@2x.webp w2400"
          type="images/webp"
        />
        <source
          media="min-width:1200px"
          media="max-width:767px"
          sizes="280px"
          srcset="./images/luxury_desktop.png  w1200,
                ./images/luxury_desktop@2x.png w2400"
          type="images/png"
        />
        <!-- tablet -->
        <source
          media="min-width:768px"
          media="max-width:767px"
          sizes="280px"
          srcset="./images/luxury_tablet.webp  w768,
                ./images/luxury_tablet@2x.webp w1536"
          type="images/webp"
        />
        <source
          media="min-width:768px"
          media="max-width:767px"
          sizes="280px"
          srcset="./images/luxury_tablet.png  w768,
                ./images/luxury_tablet@2x.png w1536"
          type="images/png"
        />
        <!-- mobil -->
        <source
          media="max-width:767px"
          sizes="280px"
          srcset="./images/luxury_mobil.webp  w280,
                ./images/luxury_mobil@2x.webp w560"
          type="images/webp"
        />
        <source
          media="max-width:767px"
          sizes="280px"
          srcset="./images/luxury_mobil.png  w280,
                ./images/luxury_mobil@2x.png w560"
          type="images/png"
        />
        <img src="./images/luxury_mobil.png" alt="headphones on the desk" />
      </picture>
    </div>
    <div class="luxury__text--content">
      <div class="luxury__text-grup">
        <h3 class="luxury__seconde-title">Maximum enjoyment</h3>
        <p class="luxury__text">
          In order to create a comfortable atmosphere - raise the level by level
          from the "transparent" mode to the maximum blocking of sounds. The
          conversation mode can be activated in one click using a special
          button.
        </p>
      </div>
      <div class="luxury__text-grup">
        <h3 class="luxury__seconde-title">Crystal sound</h3>
        <p class="luxury__text">
          The speaker system and brand name active equalizer are able to provide
          high-quality and powerful sound at any volume level. You can be sure
          of no distortion and crystal clear at high and low frequencies.
        </p>
      </div>
    </div>
  </div>
</section>
