<section class="order">
  <div class="container__left">
    <h2 class="order__title">bose nc 700</h2>
    <div class="order__photo">
      <picture>
        <!-- desktop -->
        <source
          media="(min-width: 1200px)"
          sizes="100vw"
          srcset="
            ./images/order_desktop_black.webp    1200w,
            ./images/order_desktop_black@2x.webp 2400w
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          sizes="100vw"
          srcset="
            ./images/order_desktop_black.jpg    1200w,
            ./images/order_desktop_black@2x.jpg 2400w
          "
          type="image/jpeg"
        />
        <!-- tablet -->
        <source
          media="(min-width: 768px)"
          sizes="100vw"
          srcset="
            ./images/order_tablet_black.webp     768w,
            ./images/order_tablet_black@2x.webp 1536w
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          sizes="100vw"
          srcset="
            ./images/order_tablet_black.jpg     768w,
            ./images/order_tablet_black@2x.jpg 1536w
          "
          type="image/jpeg"
        />
        <!-- mobil -->
        <source
          media="(max-width: 768px)"
          sizes="100vw"
          srcset="
            ./images/order_mobil_black.webp     767w,
            ./images/order_mobil_black@2x.webp 1534w
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          sizes="100vw"
          srcset="
            ./images/order_mobil_black.jpg     767w,
            ./images/order_mobil_black@2x.jpg 1534w
          "
          type="image/jpeg"
        />
        <img
          class="order__img"
          src="/src/images/order_mobil_black.jpg"
          alt="headphone"
        />
        <img
          class="order__img is__hidden--headphone"
          src="/src/images/order_mobil.jpg"
          alt="headphone"
        />
      </picture>
      <picture>
        <!-- desktop -->
        <source
          media="(min-width: 1200px)"
          sizes="100vw"
          srcset="
            ./images/order_desktop.webp    1200w,
            ./images/order_desktop@2x.webp 2400w
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          sizes="100vw"
          srcset="
            ./images/order_desktop.jpg    1200w,
            ./images/order_desktop@2x.jpg 2400w
          "
          type="image/jpeg"
        />
        <!-- tablet -->
        <source
          media="(min-width: 768px)"
          sizes="100vw"
          srcset="
            ./images/order_tablet.webp     768w,
            ./images/order_tablet@2x.webp 1536w
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          sizes="100vw"
          srcset="
            ./images/order_tablet.jpg     768w,
            ./images/order_tablet@2x.jpg 1536w
          "
          type="image/jpeg"
        />
        <!-- mobil -->
        <source
          media="(max-width: 768px)"
          sizes="100vw"
          srcset="
            ./images/order_mobil.webp     767w,
            ./images/order_mobil@2x.webp 1534w
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          sizes="100vw"
          srcset="
            ./images/order_mobil.jpg     767w,
            ./images/order_mobil@2x.jpg 1534w
          "
          type="image/jpeg"
        />
        <img
          class="order__img is__hidden--headphone"
          src="/src/images/order_mobil.jpg"
          alt="headphone"
        />
      </picture>
    </div>
    <ul class="order__button-list">
      <li class="order__button-item">
        <button class="order__button--black"></button>
      </li>
      <li class="order__button-item">
        <button class="order__button--white"></button>
      </li>
    </ul>
    <ul class="order__list">
      <li class="order__item">
        <p class="order__text">Availability in stores</p>
        <a href="#" class="order__link"></a>
      </li>
      <li class="order__item">
        <p class="order__text">Characteristics</p>
        <a href="#" class="order__link"></a>
      </li>
      <li class="order__item">
        <p class="order__text">Payment and delivery methods</p>
        <a href="#" class="order__link"></a>
      </li>
    </ul>
    <p class="order__price">14 999 UAH</p>
    <button class="order__button">order</button>
    <!-- modal -->
    <div data-order_modal class="backdrop is__hidden--modal">
      <div class="modal">
        <ul class="modal__list">
          <li class="modal__item">
            <input type="text" class="modal__input" placeholder="Empty" />
          </li>
          <li class="modal__item">
            <input
              type="email"
              class="modal__input modal__input--need"
              placeholder="Empty"
            />
          </li>
          <li class="modal__item">
            <input
              type="text"
              class="modal__input modal__input--need"
              placeholder="Empty"
            />
          </li>
          <li class="modal__item modal__item">
            <input type="checkbox" class="modal__input--checkbox" />
            <p class="modal__text">
              I agree to the
              <a class="modal__link" href="#">privacy policy</a>
            </p>
          </li>
        </ul>
        <button class="button modal__button" data-order_modal-close>
          send
        </button>
      </div>
    </div>
  </div>
</section>
