<section class="reviews">
  <div class="container__right reviews__container">
    <h2 class="reviews__title">reviews</h2>
    <div class="reviews__content">
      <div class="reviews__video-carusel">
        <ul data-reviews_slide-container class="toggle-slider__list">
          <li class="toggle-slider__item">
            <article class="video">
              <!-- 1 -->
              <div class="video__video">
                <iframe
                  class="video__iframe"
                  src="https://www.youtube.com/embed/VqP11Ma_2Fk"
                  frameborder="0"
                >
                </iframe>
              </div>
              <div class="video__text-grup">
                <a
                  class="video__link"
                  href="https://www.youtube.com/embed/VqP11Ma_2Fk"
                  >Bose Сorporation</a
                >
                <p class="video__text">
                  Critically acclaimed for their powerful noise cancelling,
                  astonishing sound, and unrivaled voice pickup, Bose Noise
                  Cancelling Headphones 700 help turn any space into the perfect
                  place to listen to music, get work done, or just shut out the
                  world for a few moments and relax
                </p>
              </div>
            </article>
          </li>
          <!-- 2 -->
          <li class="toggle-slider__item">
            <article class="video">
              <div class="video__video">
                <iframe
                  class="video__iframe"
                  src="https://www.youtube.com/embed/VqP11Ma_2Fk"
                  frameborder="0"
                >
                </iframe>
              </div>
              <div class="video__text-grup">
                <a
                  class="video__link"
                  href="https://www.youtube.com/embed/VqP11Ma_2Fk"
                  >Bose Сorporation</a
                >
                <p class="video__text">
                  Bose Noise Cancelling Headphones 700 deliver everything you
                  expect — and things you never imagined possible. The perfect
                  balance of quiet, comfort, and sound
                </p>
              </div>
            </article>
          </li>
          <!-- 3 -->
          <li class="toggle-slider__item">
            <article class="video">
              <div class="video__video">
                <iframe
                  class="video__iframe"
                  src="https://www.youtube.com/embed/VqP11Ma_2Fk"
                  frameborder="0"
                >
                </iframe>
              </div>
              <div class="video__text-grup">
                <a
                  class="video__link"
                  href="https://www.youtube.com/embed/VqP11Ma_2Fk"
                  >Bose Сorporation</a
                >
                <p class="video__text">
                  Real stories of people tuning in or out to feel peace, find
                  escape, and for self-care
                </p>
              </div>
            </article>
          </li>
        </ul>
      </div>

      <ul data-reviews_slide-nav class="reviews__list">
        <li class="reviews__item">
          <button data-slide="0" class="reviews__button">01</button>
        </li>
        <li class="reviews__item">
          <p class="reviews__button-text">-</p>
        </li>
        <li class="reviews__item">
          <button data-slide="1" class="reviews__button">02</button>
        </li>
        <li class="reviews__item">
          <p class="reviews__button-text">-</p>
        </li>
        <li class="reviews__item">
          <button data-slide="2" class="reviews__button">03</button>
        </li>
        <li class="reviews__item">
          <p class="reviews__button-text">-</p>
        </li>
        <li class="reviews__item">
          <button data-slide="3" class="reviews__button">04</button>
        </li>
      </ul>
    </div>
  </div>
</section>
