.container {
  max-width: 1090px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container__left {
  max-width: 1090px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
}

.container__right {
  max-width: 1090px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
}
