.design {
  padding-top: 52px;
  padding-bottom: 52px;
}

.design__container {
  display: flex;
  flex-direction: column;
}

.design__title {
  font-weight: 600;
  font-size: 24px;
  color: var(--color-text-secondary);
  margin-bottom: 32px;
  text-transform: uppercase;
}

.design__subtitle {
  font-weight: 600;
  color: var(--color-text-secondary);
  margin-bottom: 16px;
  font-size: 20px;
}

.design__text {
  font-size: 14px;
  margin-bottom: 24px;
}

.design__text--stylish {
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .design__container {
    flex-direction: row;
    align-items: flex-start;
    gap: 60px;
  }

  .design__content {
    order: 2;
    max-width: 294px;
  }

  .design__photo {
    order: 1;
    flex-basis: 354px;
    height: auto;
  }

  .design__title {
    font-size: 30px;
  }
}

@media (min-width: 1024px) {
  .design__title {
    font-size: 54px;
  }

  .design__subtitle {
    font-size: 28px;
  }

  .design__text {
    font-size: 20px;
  }

  .design__container {
    flex-direction: row;
    align-items: flex-start;
    gap: 60px;
  }

  .design__content {
    order: 2;
    max-width: 465px;
  }

  .design__photo {
    order: 1;
    flex-basis: 590px;
  }
}
