.faq__title {
  padding-top: 16px;
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-text-titles);
  padding-bottom: 32px;
}

.faq__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.faq__item {
  padding-bottom: 24px;
  border-bottom: 1px solid var(--color-text-white10);
  transition-property: padding-bottom;
  transition-duration: 0.5s;
  overflow: hidden;
  position: relative;
}
.faq__group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.num__text {
  font-family: var(--font-logo);
  font-weight: 400;
  font-size: 20px;
  line-height: 70%;
  color: var(--color-text-titles);
}
.group__title {
  font-size: 14px;
  line-height: 125%;
  color: var(--color-text-primary);
  font-weight: 200;
  flex-grow: 1;
  width: 150px;
}
.button__about {
  color: var(--color-text-titles);
  background-color: var(--color-text-white10);
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.faq__item:has(.button__about:hover) .hidden__text {
  position: static;
  transform: translateY(0);
  opacity: 1;
}
.hidden__text {
  position: absolute;
  opacity: 0;
  transform: translateY(150%);
  transition-property: opacity, transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
@media (min-width: 768px) {
  .faq__title {
    padding-top: 100px;
  }
  .faq__group {
    padding-bottom: 37px;
  }
}

@media (min-width: 1200px) {
  .faq__group {
    padding-bottom: 24px;
  }
  .group__title {
    font-weight: 600;
    padding-top: 170px;
  }
}
