.feedback {
  color: var( --color-text-secondary);
  font-family: Arial, sans-serif;
}

.feedback__hero {
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.feedback__inner {
  padding: 60px 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

.feedback__title {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0 20px 0;
  letter-spacing: 1px;
}

.feedback__lead {
  color: var(--color-text-primary);
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  max-width: 400px;
}

.feedback__form {
  width: 100%;
}

.feedback__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.feedback__item {
  border-bottom: 1px solid var( --color-text-white10);
  padding: 20px 0;
}

.feedback__label-text {
  display: block;
  font-size: 14px;
  color: var( --color-text-titles);
  margin-bottom: 8px;
}

.feedback__input,
.feedback__textarea {
  width: 100%;
  background: transparent;
  border: none;
  color: var(--color-text-secondary);
  font-size: 16px;
  padding: 0;
  font-family: inherit;
}

.feedback__input:focus,
.feedback__textarea:focus {
  outline: none;
}

.feedback__textarea {
  resize: vertical;
  min-height: 60px;
}

.feedback__checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #cccccc;
  font-size: 12px;
  cursor: pointer;
  margin-top: 25px;
}

.feedback__link {
  color: var(--color-text-title);
  text-decoration: underline;
}

.feedback__btn {
  margin-top: 40px;
  width: 100%;
  padding: 18px;
  background: transparent;
  border: 1px solid var(  --color-bg-button);
  color: var(--color-text-secondary);
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
}

.feedback__btn:hover {
  background: var(--color-bg-button_hover);
  border-color: var(--color-bg-button_hover);
}

@media (min-width: 900px) {
  .feedback__hero {
    height: 400px;
  }

  .feedback__inner {
    grid-template-columns: 0.8fr 1.2fr;
    gap: 100px;
    align-items: start;
    padding: 80px 0;
  }

  .feedback__title {
    font-size: 32px;
  }
}
