.footer__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
}

.footer__list {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 10px 30px;
  padding: 0;
  margin: 0 0 16px 0;
}

.footer__item {
  font-size: 14px;
  color: var(--color-text-white10);
  flex-basis: calc(50% - 30px);
}
.footer__item--end {
  align-self: flex-end;
}
.footer__phone {
  font-size: 16px;
  color: var(--color-text-secondary);
  text-decoration: none;
  padding: 52px 0;
}

/* ---------- Планшет ---------- */
@media (min-width: 768px) {
  .footer__container {
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
  }

  .footer__list {
    max-width: 380px;
    gap: 12px 60px;
  }
}

/* ---------- Десктоп ---------- */
@media (min-width: 1024px) {
  .footer{
    padding-bottom: 74px;
  }
  .footer__container {
    align-items: center;
  }
  .footer__list {
    display: flex;
    gap: 40px; 
    flex-direction: row;
    max-width: 100%;
  }
.footer__item {
   flex-basis: auto;
}
.footer__item--end {
  align-self: flex-start;
}
}
