.footer__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer__list {
  display: flex;
  justify-content: center;
  gap: 10px 30px;
  padding: 0;
  margin: 0 0 16px 0;
}

.footer__item {
  font-size: 14px;
  color: var(--color-text-white10);
}

.footer__phone {
  font-size: 16px;
  color: var(--color-text-secondary);
  text-decoration: none;
}

/* ---------- Планшет ---------- */
@media (min-width: 768px) {
  .footer__container {
    align-items: flex-start;
    text-align: left;
    position: relative;
  }

  .footer__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: start;
    gap: 12px 60px;
  }
}

/* ---------- Десктоп ---------- */
@media (min-width: 1024px) {
  .footer__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    text-align: left;
  }

  .footer__list {
    display: flex;
    gap: 40px;
  }

  .footer__phone {
    align-self: flex-end;
  }
}
