.header {
  background-color: var(--color-bg-primary);
  padding-top: 30px;
  padding-bottom: 32px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  position: fixed;
  width: 100px;
  height: 12px;
  z-index: 10;
}

.nav__item {
  font-size: 16px;
}

.menu-btn {
  position: fixed;
  display: block;
  z-index: 9;
  width: 22px;
  height: 11px;
  background-color: transparent;
  right: 20px;
}

.mobile-menu {
  z-index: 9;
}

.menu-btn::before,
.menu-btn::after {
  content: '';
}
//верхня, середня та нижня лінії
.menu-btn::before,
.menu-btn__line,
.menu-btn::after {
  width: 100%;
  height: 2px;
  background-color: #ffffffcc;
  position: absolute;
  left: 0;
  transition: 0.5s linear;
  transition-property: top, transform;
}

// Верхня лінія
.menu-btn::before {
  top: 0;
}
// Середня лінія
.menu-btn__line {
  top: calc(50% - 1px);
}
// Нижня лінія
.menu-btn::after {
  top: calc(100% - 2px);
}

.menu-btn.is-open {
  &::before {
    top: calc(50% - 1px);
    transform: rotate(-45deg);
  }
  .menu-btn__line {
    transform-origin: left;
    transform: scaleX(0);
  }
  &::after {
    top: calc(50% - 1px);
    transform: rotate(45deg);
  }
}

@media (max-width: 1023px) {
  .mobile-menu__wrapp {
    background-color: #191919;
    position: fixed;
    inset: 0;
    padding: 20px;
    transform: translateX(-100%);
    transition: transform 1s linear;
  }
  .mobile-menu__wrapp.is-open {
    transform: translateX(0);
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    padding-top: 119px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .mobile-menu__wrapp {
    max-height: 367px;
    transform: translateY(-100%);
    box-shadow: 0 20px 80px 0 #000000;
  }

  .mobile-menu__wrapp.is-open {
    transform: translateY(0);
  }
}

@media (min-width: 1024px) {
  .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 77px;
  }

  .mobile-menu__btn {
    display: none;
  }
}
