.hero__container {
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__text {
  font-size: 14px;
  font-weight: 100;
}

.hero__title {
  font-weight: 600;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-text-titles);
}

.hero__photo {
  min-width: 280px;
  min-height: 240px;
}
