.container__left {
  padding: 52px 20px 0;
}
.history__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.history__first-adaptive {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.history__title {
  order: -99;
  color: var(--color-text-titles);
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  &::after {
    content: '';
    background-image: url(../images/Union.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 82px;
  }
}

.history__text-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.history__photo--plan {
  order: -1;
}
.history__text {
  font-size: 14px;
}
.history__text--first {
  order: -1;
}
.history__photo {
  min-width: 280px;
}
.history__about {
  font-size: 14px;
  line-height: 125%;
  color: var(--color-text-white40);
}
.history__text--title {
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  &::before {
    display: block;
    padding-bottom: 25px;
    content: '';
    background-image: url(../images/’’.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 34px;
    height: 50px;
  }
}
.history__seconde-adaptive {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.history__text-content--seconde {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media (min-width: 768px) {
  .history__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 768px;
  }
  .history__title {
    width: 155px;
  }
  .history__title::after {
    content: none;
  }
  .history__first-adaptive {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
  }

  .history__text {
    min-width: 290px;
    width: 50%;
  }
  .history__text--second {
    order: -1;
    padding-top: 85px;
  }
  .history__text--third {
    padding-bottom: 133px;
  }
  .history__photo {
    max-width: 355px;
  }
  .history__photo--speacker {
    position: relative;
    bottom: -20%;
  }
  .history__seconde-adaptive {
    flex-direction: row;
    gap: 58px;
  }
  .history__text-content--seconde {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
  }

  .history__text--title::before {
    height: 77px;
    padding-bottom: 52px;
  }
}
@media (min-width: 1200px) {
  .history__seconde-adaptive {
    display: flex;
    gap: 260px;
  }
  .history__text-content--seconde {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .history__photo--plan {
    min-width: 600px;
  }
}
