.luxury__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 32px;
}
.luxury__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-text-title);
}
.luxury__photo {
  width: 100%;
}
.luxury__text-grup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.luxury__text--first {
  padding-bottom: 42px;
}
@media (min-width: 768px) {
  .luxury__photo {
    max-height: 293px;
  }
}
