.luxury__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.luxury__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-text-title);
}
.luxury__photo {
  width: 100%;
}
.luxury__text--content {
  display: flex;
  flex-direction: column;
  gap: 42px;
}
.luxury__text-grup {
  flex-direction: column;
  display: flex;
  gap: 16px;
}

@media (min-width: 768px) {
  .luxury__title {
    position: relative;
    left: 60%;
    width: 300px;
  }
  .luxury__photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    max-height: 293px;
  }
  .luxury__text--content {
    flex-direction: row;
    gap: 60px;
  }
  .luxury__text--content {
    display: flex;
    gap: 60px;
    justify-content: center;
  }
  .luxury__text-grup {
    width: 300px;
  }
}
@media (min-width: 1200px) {
  .luxury__title {
    position: relative;
    left: 65%;
  }
  .luxury__photo {
    max-height: 524px;
  }
  .luxury__text-grup {
    width: 100%;
  }
}
