.luxury__title {
    display: flex;
    align-items: start;
    justify-content: end;
    padding-bottom: 50px;
    font-size: 54px;
    padding-right: 80px;
    padding-top: 170px;
}

.luxury__row {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 20px;
}

.luxury__items-wrapper {
    width: 50%;
}

.luxury-section {
    display: flex;
    gap: 48px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 60px 20px;
    background: #111214;
}


.luxury__items,
.luxury__items-crystal {
    list-style: none;
    padding: 0;
    margin: 0;
}


.luxury_text {
    font-size: 28px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 16px;
}


.luxury__text {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.75;
    max-width: 420px;
}

@media (max-width: 1024px) {

    .luxury__title {
        font-size: 42px;
        padding-top: 100px;
        padding-right: 0;
        text-align: center;
        justify-content: end;
        padding-right: 130px;
    }

    .luxury__photo {
        width: 100%;
        max-width: 1300px;
        padding-bottom: 32px;
    }

    .luxury__row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;
        max-width: 900px;
        margin: 0 auto;
        padding: 0 20px 40px 20px;
    }

    .luxury__items-wrapper {
        width: 45%;
    }

    .luxury_text {
        font-size: 22px;
        margin-bottom: 12px;
    }

    .luxury__text {
        font-size: 15px;
        max-width: 100%;
        font-weight: 300;
        line-height: 1.75;
    }
}

@media (max-width: 768px) {

    .luxury {
        padding: 0 20px;
    }

    .luxury__wrapper {
        width: 100%;
    }

    .luxury__title {
        font-size: 70px;
        text-align: left;
        padding: 40px 0 24px 0;
        justify-content: center
    }

    .luxury__photo {
        width: 100%;
        object-fit: none;
        object-position: left;
        display: block;
    }

    .luxury__row {
        flex-direction: column;
        gap: 32px;
        padding: 0;
        margin: 0;
        max-width: 100%;
    }

    .luxury__items-wrapper {
        width: 100%;
    }

    .luxury_text {
        font-size: 50px;
        margin-bottom: 12px;
    }

    .luxury__text {
        font-size: 25px;
        line-height: 1.7;
        max-width: 100%;
    }

    .luxury__item p,
    .luxury__item h2 {
        max-width: 90%;
    }
}