.no-scroll {
  position: fixed;
}
.backdrop.is__hidden {
  pointer-events: none;
  opacity: 0;
}
.backdrop {
  z-index: 9;
}
.modal {
  background-color: var(--color-bg-primary);
  position: fixed;
  inset: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
}
.modal__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  flex-direction: column;
  padding-bottom: 90px;
}
.modal__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.modal__input {
  font-weight: 400;
  font-size: 20px;
  line-height: 70%;
  color: var(--color-text-modal);
  border-bottom: 1px solid var(--color-text-white10);
  background-color: inherit;
  padding-bottom: 16px;
  flex-grow: 1;
}
.modal__input:hover {
  border-bottom: 1px solid var(--color-bg-button_hover);
}

.modal__button {
  max-width: 510px;
  background-color: var(--color-bg-primary);
  border: 1px solid var(--color-bg-button);
}
