.container__left {
  padding-top: 50px;
  padding-left: 20px;
}
.order__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-text-titles);
}
