.order__photo.is__hidden {
  opacity: 0;
  position: absolute;
}

.container__left {
  padding-top: 50px;
  padding-left: 20px;
}
.order__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-text-titles);
}
.order__photo {
  padding-bottom: 30px;
}

.order__button-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-bottom: 32px;
}

.order__button--black {
  width: 44px;
  height: 44px;
  border: 1px solid var(--color-text-primary);
  background-color: var(--color-bg-primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  &::before {
    content: '';
    border-radius: 50%;
    background-color: var(--color-bg-black);
    width: 30px;
    height: 30px;
  }
}
.order__button--white {
  width: 44px;
  height: 44px;
  border: 1px solid var(--color-text-primary);
  background-color: var(--color-text-primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  &::before {
    content: '';
    border-radius: 50%;
    background-color: var(--color-text-primary);
    width: 30px;
    height: 30px;
  }
}
.order__item {
  font-size: 16px;
  line-height: 125%;
  padding: 25px 0 25px;
  border-top: 1px solid var(--color-text-white10);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order__item--border {
  padding: 25px 0;
  border-bottom: 1px solid var(--color-text-white10);
}
.order__link {
  width: 20px;
  height: 20px;
  background-image: url(../images/order_arrow.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}
.order__price {
  color: var(--color-bg-button);
  font-weight: 600;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
