.container__right {
  padding-left: 20px;
}
.reviews__container {
  padding-top: 52px;
  padding-bottom: 16px;
}
.reviews__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-text-titles);
  padding-bottom: 32px;
  width: 230px;
}

.reviews__video-carusel {
  width: 100%;
  max-width: 920px;
  padding-bottom: 32px;
  overflow: hidden;
}
.toggle-slider__list {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.toggle-slider__item {
  display: flex;
  min-width: 100%;
  justify-content: center;
}
.video {
  min-height: 300px;
}
.video__video {
  aspect-ratio: 250 / 180;
}
.video__iframe {
  height: 100%;
}
.video__link {
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  color: var(--color-bg-button);
  padding-bottom: 16px;
}
.video__text {
  font-size: 14px;
  line-height: 125%;
  padding-bottom: 32px;
}
.reviews__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.reviews__button,
.reviews__button-text {
  line-height: 125%;
  color: var(--color-bg-button);
  background-color: inherit;
}
@media (min-width: 768px) {
  .container__right {
    padding-left: 60px;
    padding-right: 60px;
  }
  .reviews__content {
    display: flex;
    flex-direction: column;
  }
  .toggle-slider__item {
    justify-content: flex-start;
  }

  .video__video {
    height: 420px;
  }
  .video__text-grup {
    padding-top: 100px;
  }
}
@media (min-width: 1200px) {
  .container__right {
    padding-left: 0;
    padding-right: 112px;
  }
  .reviews__video-carusel {
    min-width: 1328px;
  }
  .reviews__content {
    flex-direction: row;
  }
  .reviews__title {
    position: relative;
    left: 100%;
    top: 56px;
  }
  .reviews__list {
    position: relative;
    right: 37%;
    gap: 12px;
    bottom: -265px;
  }
  .video {
    display: flex;
    gap: 150px;
    min-width: 1030px;
  }
  .video__video {
    height: 590px;
  }
  .video__text-grup {
    width: 260px;
  }
}
